.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav li{display: inline; background-color: white;}
nav li a{color: black}
input{border: 50%;}
body{
    background-color: rgb(200, 204, 206);
    color: red;

}